# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Logs
*.log

# Test / Cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/
